.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.navbar .logo img {
  width: 100px;
  cursor: pointer;
}

.options {
  display: flex;
  gap: 20px;
}

.options span {
  cursor: pointer;
}

.icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.icons .dropdown-icon {
  display: none;
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 580px) {
  .options {
    display: none;
  }

  .icons {
    display: flex;
    justify-content: flex-end;
  }

  .icons .dropdown-icon {
    display: block;
  }

  .dropdown-menu {
    display: none;
  }

  .icons .dropdown-menu.open {
    display: flex;
  }
}
