body {
  overflow-x: hidden;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #baa69d;
  color: #231F20;
  border-radius: 5px;
  margin: 10px;
}

.logo {
  cursor: pointer;
}

.options {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 10px 0;
}

.icons {
  display: flex;
  align-items: center;
}

.icons svg {
  margin: 0 10px;
  cursor: pointer;
  font-size: 1.75em;
  color: #231F20;
}

.logout-icon {
  color: #e74c3c;
}

@font-face {
  font-family: BebasNeue;
  src: url(../BebasNeue-Regular.ttf);
}

.options span {
  margin: 0 20px;
  cursor: pointer;
  font-size: xx-large;
  font-family: BebasNeue;
  color: #231F20;
}

@media (max-width: 768px) {
  .navbar {
    align-items: center;
  }

  .options {
    flex-direction: column;
    align-items: center;
  }

  .icons {
    margin-top: 10px;
    justify-content: center;
    width: 100%;
  }

  .dropdown-icon {
    font-size: 1.5em;
    display: block;
    margin-top: 5px;
  }

  .dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #baa69d;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
  }
}
